.campus-selection-header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.campus-selection {
  width: 100vw;
  padding: 0 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;


.search-content-wrapper {
  margin-top: 8%;
  padding: 0 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  h1 {
    text-transform: uppercase;
    margin-top: 9%;
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
  }

  .campuses-search-and-list {
    position: relative;
    width: 90vw;
    height: 68vh;
    overflow: scroll;
    border: 1px solid black;

    .search-campus input {
      position: absolute;
      height: 50px;
      background-color: grey;
      width: 100%;
    }

    ul {
      font-size: $paragraphFontSize;
      list-style: none;
      padding: 50px 15px 0;
      min-width: 100%;
    }
  }
}

}
