.campus-header {
  position: relative;
  height: 200px;
  background: url('http://unsplash.it/1200x800') center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 100%);
    background-image: -o-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 100%);
    background-image: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 100%);
      }

  h1 {
    position: absolute;
    bottom: 0;
    border-left: 8px solid $main-green;
    padding-left: 10px;
    font-family: $header-font;
    font-size: 32px;
    color: #3A3F44;
    font-weight: normal;
    margin: 25px;
    width: 80%;
    opacity: 1;
  }
}

.campus-info-and-contact {
  padding: 25px;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;

  .main-text-overlay {
    width: 92%;
    height: 210px;
    position: absolute;
    background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 100%);
    background: -o-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 100%);
    background: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 100%);
    border-bottom: 1px solid rgba(184, 184, 184, 0.53);
  }

  .main-text-campus {
    margin-bottom: 0;
    font-size: 18px;
    overflow: hidden;
    max-height: 200px;
  }

  p {
    margin: 5px 0;
  }

  .read-more {
    background-color: $button-purple;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 0 auto;
    border: 0;
    color: white;
    font-size: 15px;
    margin-top: -10px;
    z-index: 50;
  }

  .info-contact-buttons {
    height: 130px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


    .button-and-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .button {
        z-index: 1;
        width: auto;
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $main-green;

        .material-icons {
          font-size: 50px!important;
        }
      }

      .happening-notification:after {
        content: '!';
        position:absolute;
        top:-1px;
        right:-1px;
        background:$button-purple;
        color:white;
        width:18px;height:18px;
        font-size: 13px;
        text-align:center;
        line-height:18px;
        border-radius:50%;
        -webkit-box-shadow: 0px 0px 1px 1px rgba(149, 149, 149, 0.75);
        -moz-box-shadow: 0px 0px 1px 1px rgba(149, 149, 149, 0.75);
        box-shadow: 0px 0px 1px 1px rgba(149, 149, 149, 0.75);
      }

      @media (min-width: 370px) {
        .button {
          height: auto;
          width: auto;
        }
      }

    }
  }
}
