.login-page-content {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 300px;
    border: 1px solid rgb(215, 215, 215);

    label {
      font-size: 20px;
    }

    input {
      font-size: 15px;
      background-color: #F4F5F7;
      font-weight: lighter;
      color: grey;
      border: none;
      padding-left: 15px;
      height: 45px;
      width: 80%;
      background-repeat: no-repeat;
      background-position: 98% center;
      padding-right: 15px;
    }

    input:focus {
      outline: none;
    }

    .login-button {
      margin-top: 25px;
      text-transform: uppercase;
      font-size: 16px;
      height: 45px;
      border-radius: 20px 20px;
      width: 65%;
      background-color: $main-green;
      color: white;
    }
  }
}
