// TOP NAVBAR

// Cahnge this if you change height of top nav
body {
  padding-top: 60px!important;
}

.navbar-bot, .navbar-top-bar {
  max-width: 100vw;
  background-color: $main-green;
  color: white;
}

.navbar-top {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 60px;
  z-index: 10;

  .navbar-top-bar {
    position: fixed;
    width: 100vw;
    height: 60px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top-icon {
    width: 33.3333%;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;

    a {
      height: 100%;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: white;

      img {
        height: 45%;
      }

    }
    a.settings img {
      height: 42%;
    }
  }

  .top-icon:nth-child(1) {
    justify-content: flex-start;
    padding-left: 15px;
  }
  .top-icon:nth-child(2) {
    justify-content: center;
  }
  .top-icon:nth-child(3) {
    justify-content: flex-end;
    padding-right: 15px;
  }
}

// Cahnge this if you change height of bottom nav
body {
  padding-bottom: 50px!important;
}
// BOTTOM NAVBAR
.navbar-bot {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.52);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.52);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.52);
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .nav-item {
    z-index: 15;

    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 12px;
    text-decoration: none;
    color: white;
    border-width: thin;
    border-top: 0;
    border-bottom: 0;
  }

  .nav-item:nth-child(odd) {
    width: 34%;
  }
  .nav-item:nth-child(even) {
    width: 33%;
    border-right: 1px solid rgba(112, 112, 112, 0.43);
    border-left: 1px solid rgba(112, 112, 112, 0.43);
  }
}
.navbar-bot::after {
  z-index: 1;
  font-family: 'Material Icons';
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -25px;
  content: 'build';
  font-size: 25px;
  background-color: $main-green;
  height: 55px;
  width: 55px;
  border-radius: 50%;
}
.navbar-bot::before {
  z-index: 0;
  position: absolute;
  top: -26px;
  content: '';
  background-color: rgba(0, 0, 0, 0.2);
  height: 56px;
  width: 55px;
  border-radius: 50%;
}

.active-nav-item {
  -webkit-box-shadow: inset 0px -4px 7px -2px rgba(0,0,0,0.52);
  -moz-box-shadow: inset 0px -4px 7px -2px rgba(0,0,0,0.52);
  box-shadow: inset 0px -4px 7px -2px rgba(0,0,0,0.52);
}
