.feed-nav-bar {
  z-index: 5;
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 40px;
  background-color: #F4F5F7;
  padding: 0 10%;

  .feed-nav-item {
    margin-top: 5px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .active-feed-nav-item {
    margin-top: 9px;
    color: black;
    border-bottom: 4px solid $main-green;
  }

}

.content-feed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;


.news-feed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;


.aha, .campus, .q-and-a {
  padding: 120px 15px 80px;
  transition: all 0.4s ease;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

  .aha {
    background-color: white;
    transform: translateX(0);
  }

  .q-and-a {
    background-color: white;
    transform: translateX(100vw);
  }


// AHA MIDDLE
  .aha-middle {
    transform: translateX(0);
  }
  .campus-right{
    transform: translateX(100vw);
  }
  .questions-right{
    transform: translateX(100vw);
  }

// CAMPUS MIDDLE
  .campus-middle {
    transform: translateX(0);
  }
  .aha-left {
    transform: translateX(-100vw);
  }

// Q&A MIDDLE

  .campus-left {
    transform: translateX(-100vw);
  }

  .questions-middle {
    transform: translateX(0);
  }

  p {
    margin: 0;
  }

  }
}
