.expander-box {
  padding: 0;
  margin: 0 auto;
  width: 90%;
  border-bottom: 1px solid grey;

  img {
    width: 18px;
    margin-right: 10px;
  }

  .faq-question {
    display: flex;
    flex-direction: row;
  }
}

.answer-box {
  width: 90%;
  padding-left: 9%;
  list-style: none;
  display: none;
  padding-bottom: 3vh;
}

@media screen and (max-width: 330px) {
  .answer-box {
    padding-left: 11%;
  }
}

.close-faq {
  display: none;
}

.hide-faq {
  display: none;
}
.show-faq {
  display: block;
}
