.report-wrapper {
  padding-top: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;

  .report-first-page, .report-second-page {
    padding: 60px 0 70px;
    position: absolute;
    transition: all 0.5s ease;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow-y: scroll;
  }
}

.report-header {
  padding: 0 25px;
  padding-top: 15px;
  color: black;
  font-family: $header-font;


  h1 {
    margin: 10px 0 0;
    font-family: $header-font;
    font-size: 28px;
    font-weight: normal;
  }

  p {
    margin: 0;
  }
}
.report-header.first {
  position: absolute;
}



.report-second-page {
  transform: translateX(100vw);

  .buttons {
    padding: 0 25px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .go-back, .send-report {
      padding-top: 5px;
      text-transform: uppercase;
      font-size: 16px;
      height: 48px;
      border-radius: 20px 20px;
      border: 1px solid $button-purple;
    }

    .go-back:focus, .send-report:focus {
      outline: none;
    }

    .go-back {
      width: 42%;
      background-color: white;
      color: $button-purple;
    }
    .send-report {
      width: 53%;
      background-color: $button-purple;
      color: white;
      -webkit-box-shadow: 0px 3px 10px 0px rgba(158,158,158,1);
      -moz-box-shadow: 0px 3px 10px 0px rgba(158,158,158,1);
      box-shadow: 0px 3px 10px 0px rgba(158,158,158,1);
    }
  }

  .describe-problem {
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

      h2 {
        text-transform: uppercase;
        align-self: flex-start;
        font-size: 16px;
        margin: 10px 0 7px;
        display: flex;
        align-items: center;
        flex-direction: row;

        .material-icons {
          font-size: 18px;
          margin-bottom: 4px;
          margin-right: 5px;
        }
      }

      p {
        margin: 5px 0;
        color: grey;
        font-size: 12px;
      }

      .describe-field {
        font-size: 15px;
        background-color: #F4F5F7;
        font-weight: lighter;
        color: black;
        border: none;
        padding: 10px 15px;
        height: 110px;
        width: 100%;
      }
      .describe-field::placeholder {
        color: grey;
        font-size: 12px;
      }

      .describe-field:focus {
        outline: none;
      }
    }

    .take-or-select-image {
      width: 100%;
      padding: 0 25px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .input-image {
        display: none;
      }

      .take-image, .select-image {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        border: 1px solid black;
        height: 50px;
        width: 48%;

        .material-icons {
          margin-right: 5px;
        }
      }
    }

    .personal-info {
      width: 100%;
      height: auto;
      padding: 15px 25px 0;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;

      .name, .phone, .email {
        .reason {
          width: 70%;
          font-family: $thin-font;
          font-size: 12px;
          margin: 5px 0 0;
        }
      }

      .img-and-label {
        margin: 10px 0 5px;
        height: 18px;
        display: flex;
        flex-direction: row;
        align-items: center;

        p {
          margin: 0;
          text-transform: uppercase;
        }

        img {
          height: 15px;
          margin-right: 8px;
          margin-bottom: 4px;
        }
      }

      .email .img-and-label img {
        height: 12px;
        margin-bottom: 2px;
      }

      .input-and-check {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .material-icons.check-input {
          margin-right: 10%;
          font-size: 35px;
          color: $main-green;
          display: none;
        }

        input {
          font-size: 15px;
          background-color: #F4F5F7;
          font-weight: lighter;
          color: grey;
          border: none;
          padding-left: 15px;
          height: 45px;
          width: 70%;
          padding-right: 15px;
        }
        input::placeholder {
          color: grey;
          font-size: 12px;
        }

        input:focus {
          outline: none;
        }
      }
    }
}

.show-second {
  transform: translateX(0);
}
.hide-first {
  transform: translateX(-100vw);
}
.report-first-page {
  height: auto;
  overflow-y: scroll;

  #map {
    height: 200px;
    width: 100%;
    position: absolute;
    padding: 0;
  }

  .report-map {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: flex-start;

    .enlarge-map {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      position: absolute;
      align-self: flex-end;
      right: 0;
      margin-right: 25px;
      transform: translateY(-15px);
      img {
        width: inherit;
      }
    }

}
  .search-building {
    padding: 10px 25px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      height: 16px;
      margin-right: 5px;
    }

      h2 {
        text-transform: uppercase;
        align-self: flex-start;
        margin-bottom: 5px;
        font-size: 16px;
        margin: 0;
        display: flex;
        align-items: center;
        flex-direction: row;
      }

      .search-field {
        font-size: 15px;
        background-color: #F4F5F7;
        font-weight: lighter;
        color: grey;
        border: none;
        padding-left: 15px;
        height: 45px;
        width: 100%;
        background-image: url('search.svg');
        background-repeat: no-repeat;
        background-position: 98% center;
        padding-right: 15px;
      }

      .search-field:focus {
        outline: none;
      }
    }

    .building-list {
      display: flex;
      flex-direction: column;

      .building {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 25px;
        padding-top: 8px;
        width: 100%;
        height: auto;
        min-height: 70px;
        border-top: 1px solid rgb(168, 168, 168);

        .name-and-adress {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          height: 100%;
          margin: 5px 0;

          .building-name {
            font-size: 16px;
            margin: 0;
            margin-bottom: 8px;
          }

          .building-adress-and-code {
            font-size: 12px;
            color: rgb(168, 168, 168);
            display: flex;
            justify-content: space-between;
            margin: 0;
          }
        }

        .select-building {
          width: 30%;
          display: flex;
          align-items: center;
          justify-content: flex-end;

          img {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
}

.report-thanks-message {
  padding-top: 35vh;
  opacity: 0;
  transition: all 0.2s ease;
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);

  h2 {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.59);
    text-align: center;
    color: white;
  }

  .loading-gif-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .loading-gif-report {
      width: 200px;
    }

  }

}

.show-thanks {
  display: block;
  opacity: 1;
}
