.settings-side-menu, .contact-side-menu {
  height: 100vh;
  width: 80vw;
  position: absolute;
  background-color: salmon;
  top: 0;
  right: -85vw;
  z-index: 0!important;
  transition: all 0.5s ease;
  z-index: 100;
}

.settings-side-menu {
  right: -85vw;
}

.show-settings{
  right: 0vw;
}

.contact-side-menu {
  left: -85vw;
}

.show-contact{
  left: 0vw;
}
