.startpageContainer {
  width: 100vw;
  height: 100vh;
  background-color: #F4F5F7;
}

.startpagebox {
  width: 350px;
  height: 350px;
  color: black;
  margin: auto;
  padding: 5%;
  background-color: lightblue;
}
