* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 40px !important;
}

.navbar-top {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 40px;
}

.navbar-top .navbar-top-bar {
  background-color: grey;
  position: fixed;
  width: 100vw;
  height: 40px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-top .top-icon {
  width: 33%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  text-decoration: none;
}

.navbar-top .top-icon a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  text-decoration: none;
}

.navbar-top .top-icon:nth-child(1) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 15px;
}

.navbar-top .top-icon:nth-child(2) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-top .top-icon:nth-child(3) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 15px;
}

body {
  padding-bottom: 50px !important;
}

.navbar-bot {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 50px;
  background-color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-bot .nav-item {
  width: 33%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
  color: black;
  text-decoration: none;
}

.campus-selection-header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.campus-selection {
  width: 100vw;
  padding: 0 15px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.campus-selection .search-content-wrapper {
  margin-top: 8%;
  padding: 0 15px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.campus-selection .search-content-wrapper h1 {
  text-transform: uppercase;
  margin-top: 9%;
  width: 100%;
  margin-bottom: 5px;
  text-align: left;
}

.campus-selection .search-content-wrapper .campuses-search-and-list {
  position: relative;
  width: 90vw;
  height: 68vh;
  overflow: scroll;
  border: 1px solid black;
}

.campus-selection .search-content-wrapper .campuses-search-and-list .search-campus input {
  position: absolute;
  height: 50px;
  background-color: grey;
  width: 100%;
}

.campus-selection .search-content-wrapper .campuses-search-and-list ul {
  font-size: 18px;
  list-style: none;
  padding: 50px 15px 0;
  min-width: 100%;
}

.settings-side-menu,
.contact-side-menu {
  height: 100vh;
  width: 80vw;
  position: absolute;
  background-color: salmon;
  top: 0;
  right: -85vw;
  z-index: 0 !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 100;
}

.settings-side-menu {
  right: -85vw;
}

.show-settings {
  right: 0vw;
}

.contact-side-menu {
  left: -85vw;
}

.show-contact {
  left: 0vw;
}

.campus-header {
  height: 200px;
  background-size: cover;
  background-color: #8acc7e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.campus-header h1 {
  margin: 15px;
}

.campus-info-and-contact {
  padding: 15px;
  height: auto;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.campus-info-and-contact p {
  margin: 5px 0;
}

.campus-info-and-contact .info-contact-buttons {
  height: 130px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.campus-info-and-contact .info-contact-buttons .button-and-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.campus-info-and-contact .info-contact-buttons .button-and-text .button {
  z-index: 1;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: grey;
  position: relative;
}

.campus-info-and-contact .info-contact-buttons .button-and-text .happening-notification:after {
  content: '!';
  position: absolute;
  top: -1px;
  right: -1px;
  background: red;
  color: white;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.75);
}

@media (min-width: 370px) {
  .campus-info-and-contact .info-contact-buttons .button-and-text .button {
    height: 65px;
    width: 65px;
  }
}

.news-feed {
  height: auto;
  width: 100vw;
  padding: 30px 20px;
}

.news-feed p {
  margin: 0;
}

.news-feed .one-news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 120px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
}

.news-feed .one-news-item .news-image {
  height: 100%;
  min-width: 120px;
  width: 120px;
  background-color: grey;
}

.news-feed .one-news-item .news-text {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.news-feed .one-news-item .news-text .city-and-date {
  font-style: italic;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-feed .one-news-item .news-text .news-main-content-text-short {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

