@import url(https://fonts.googleapis.com/css?family=Open+Sans);* {
  font-family: "Open Sans", sans-serif;
}

.material-icons {
  font-weight: 100;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a:focus,
a:active,
a:target {
  color: inherit;
}

body {
  padding-top: 60px !important;
}

.navbar-bot,
.navbar-top-bar {
  max-width: 100vw;
  background-color: #6FBC4D;
  color: white;
}

.navbar-top {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 60px;
  z-index: 10;
}

.navbar-top .navbar-top-bar {
  position: fixed;
  width: 100vw;
  height: 60px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-top .top-icon {
  width: 33.3333%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.navbar-top .top-icon a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
}

.navbar-top .top-icon:nth-child(1) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 15px;
}

.navbar-top .top-icon:nth-child(2) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-top .top-icon:nth-child(3) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 15px;
}

body {
  padding-bottom: 50px !important;
}

.navbar-bot {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-bot .nav-item {
  z-index: 15;
  width: 33%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 12px;
  text-decoration: none;
  color: white;
  border-width: thin;
  border-top: 0;
  border-bottom: 0;
}

.navbar-bot:before {
  z-index: 1;
  font-family: 'Material Icons';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -25px;
  content: 'build';
  font-size: 25px;
  background-color: #6FBC4D;
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

.campus-selection-header {
  top: 0;
  left: 0;
  width: 100vw;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.campus-selection-header h1 {
  font-size: 20px;
  text-transform: uppercase;
}

.campus-selection {
  width: 100vw;
  padding: 0 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.campus-selection h2 {
  font-family: 'times';
  font-weight: normal;
  font-size: 25px;
  margin-top: 9%;
  width: 100%;
  margin-bottom: 5px;
  text-align: left;
}

.campus-selection .input-field-search-campus {
  font-size: 15px;
  background-color: #F4F5F7;
  font-weight: lighter;
  color: grey;
  border: none;
  padding-left: 15px;
  height: 45px;
  width: 100%;
  background-image: url(/images/search.svg?3509a1c63820f47682641085f7d8ccf9);
  background-repeat: no-repeat;
  background-position: 98% center;
  padding-right: 15px;
}

.campus-selection .input-field-search-campus:focus {
  outline: none;
}

.campus-selection .search-content-wrapper {
  margin-top: 8%;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.campus-selection .search-content-wrapper .campuses-list {
  width: 100%;
}

.campus-selection .search-content-wrapper .campuses-list .campus-list {
  height: auto;
  margin: 0;
  list-style: none;
  padding: 0;
  min-width: 100%;
}

.campus-selection .search-content-wrapper .campuses-list .campus-list .city:nth-child(even) {
  background-color: #F2F7F4;
}

.campus-selection .search-content-wrapper .campuses-list .campus-list .city {
  padding: 2px 5px;
  font-size: 15px;
  text-transform: uppercase;
}

.campus-selection .search-content-wrapper .campuses-list .campus-list .city ul {
  font-size: 15px;
  list-style: none;
  font-size: 12px;
  padding-left: 10px;
  text-transform: capitalize;
}

.campus-selection .search-content-wrapper .campuses-list .campus-list .city ul a {
  text-decoration: none;
}

.campus-selection .search-content-wrapper .campuses-list .campus-list .city ul a:visited {
  color: black;
}

.campus-selection .search-content-wrapper .campuses-list .campus-list .city a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.campus-selection .search-content-wrapper .campuses-list .campus-list .city a .remove {
  display: none;
}

.campus-selection .search-content-wrapper .campuses-list .campus-list .city a .show-icon {
  display: block;
}

.campus-selection .search-content-wrapper .campuses-list .campus-list .city a .hide-icon {
  display: none;
}

.campus-selection .search-content-wrapper .campuses-list .campus-list .campuses-in-city {
  display: none;
  padding: 5px 0 10px 10px;
}

.campus-selection .search-content-wrapper .campuses-list .campus-list .campuses-in-city li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2px;
  padding-right: 0;
  border-bottom: 0.3px solid grey;
}

.campus-selection .search-content-wrapper .campuses-list .campus-list .campuses-in-city li input[type="radio"] {
  display: none;
}

.campus-selection .search-content-wrapper .campuses-list .campus-list .campuses-in-city li input[type="radio"]:checked + label {
  color: green;
}

.campus-selection .search-content-wrapper .campuses-list .campus-list .campus-display {
  display: block;
}

.settings-side-menu,
.contact-side-menu {
  height: 100vh;
  width: 80vw;
  position: absolute;
  background-color: #6FBC4D;
  top: 0;
  right: -85vw;
  z-index: 100 !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0px 0px 5px 0px #525252;
  box-shadow: 0px 0px 5px 0px #525252;
  color: white;
}

.settings-side-menu {
  right: -85vw;
}

.show-settings {
  right: 0vw;
}

.contact-side-menu {
  left: -85vw;
}

.show-contact {
  left: 0vw;
}

.campus-header {
  position: relative;
  height: 200px;
  background: url("http://unsplash.it/1200x800") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.campus-header:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.9)));
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
}

.campus-header h1 {
  position: absolute;
  bottom: 0;
  border-left: 8px solid #6FBC4D;
  padding-left: 10px;
  font-family: "times", serif;
  font-size: 32px;
  color: #3A3F44;
  font-weight: normal;
  margin: 25px;
  width: 80%;
  opacity: 1;
}

.campus-info-and-contact {
  padding: 25px;
  height: auto;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.campus-info-and-contact .main-text-overlay {
  width: 92%;
  height: 210px;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.9)));
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
  border-bottom: 1px solid rgba(184, 184, 184, 0.53);
}

.campus-info-and-contact .main-text-campus {
  margin-bottom: 0;
  font-size: 18px;
  overflow: hidden;
  max-height: 200px;
}

.campus-info-and-contact p {
  margin: 5px 0;
}

.campus-info-and-contact .read-more {
  background-color: #F71264;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: 0 auto;
  border: 0;
  color: white;
  font-size: 15px;
  margin-top: -10px;
  z-index: 5;
}

.campus-info-and-contact .info-contact-buttons {
  height: 130px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.campus-info-and-contact .info-contact-buttons .button-and-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.campus-info-and-contact .info-contact-buttons .button-and-text .button {
  z-index: 1;
  width: auto;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6FBC4D;
}

.campus-info-and-contact .info-contact-buttons .button-and-text .button .material-icons {
  font-size: 50px !important;
}

.campus-info-and-contact .info-contact-buttons .button-and-text .happening-notification:after {
  content: '!';
  position: absolute;
  top: -1px;
  right: -1px;
  background: #F71264;
  color: white;
  width: 18px;
  height: 18px;
  font-size: 13px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(149, 149, 149, 0.75);
  box-shadow: 0px 0px 1px 1px rgba(149, 149, 149, 0.75);
}

@media (min-width: 370px) {
  .campus-info-and-contact .info-contact-buttons .button-and-text .button {
    height: auto;
    width: auto;
  }
}

.feed-nav-bar {
  z-index: 5;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  height: 40px;
  background-color: #ebebeb;
  padding: 0 10%;
}

.feed-nav-bar .feed-nav-item {
  text-transform: uppercase;
  color: grey;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feed-nav-bar .feed-nav-item:nth-child(1) {
  border-bottom: 4px solid #6FBC4D;
}

.content-feed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.content-feed .news-feed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.content-feed .news-feed .aha,
.content-feed .news-feed .campus,
.content-feed .news-feed .q-and-a {
  padding: 120px 15px 80px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.content-feed .news-feed .aha {
  background-color: white;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.content-feed .news-feed .q-and-a {
  background-color: yellow;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

.content-feed .news-feed .campus {
  background-color: blue;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

.content-feed .news-feed .campus .one-news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 120px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
}

.content-feed .news-feed .campus .one-news-item .news-image {
  height: 100%;
  min-width: 120px;
  width: 120px;
  background-color: grey;
}

.content-feed .news-feed .campus .one-news-item .news-text {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.content-feed .news-feed .campus .one-news-item .news-text .city-and-date {
  font-style: italic;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-feed .news-feed .campus .one-news-item .news-text .news-main-content-text-short {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

.content-feed .news-feed .aha-middle {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.content-feed .news-feed .campus-right {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

.content-feed .news-feed .questions-right {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

.content-feed .news-feed .campus-middle {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.content-feed .news-feed .aha-left {
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
}

.content-feed .news-feed .campus-left {
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
}

.content-feed .news-feed .questions-middle {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.content-feed .news-feed p {
  margin: 0;
}

.report-wrapper {
  padding-top: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.report-wrapper .report-first-page,
.report-wrapper .report-second-page {
  padding: 60px 0 70px;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.report-header {
  padding: 0 25px;
  padding-top: 15px;
  color: black;
  font-family: "times", serif;
}

.report-header h1 {
  margin: 10px 0 0;
  font-family: "times", serif;
  font-size: 28px;
  font-weight: normal;
}

.report-header p {
  margin: 0;
}

.report-header.first {
  position: absolute;
}

.report-second-page {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

.report-second-page .buttons {
  padding: 0 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.report-second-page .buttons .go-back,
.report-second-page .buttons .send-report {
  text-transform: uppercase;
  font-size: 16px;
  height: 48px;
  border-radius: 20px 20px;
  border: 1px solid #F71264;
}

.report-second-page .buttons .go-back:focus,
.report-second-page .buttons .send-report:focus {
  outline: none;
}

.report-second-page .buttons .go-back {
  width: 42%;
  background-color: white;
  color: #F71264;
}

.report-second-page .buttons .send-report {
  width: 53%;
  background-color: #F71264;
  color: white;
  -webkit-box-shadow: 0px 3px 10px 0px #9e9e9e;
  box-shadow: 0px 3px 10px 0px #9e9e9e;
}

.report-second-page .describe-problem {
  padding: 10px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.report-second-page .describe-problem h2 {
  text-transform: uppercase;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 16px;
  margin: 10px 0 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.report-second-page .describe-problem p {
  margin: 5px 0;
  color: grey;
  font-size: 12px;
}

.report-second-page .describe-problem .describe-field {
  font-size: 15px;
  background-color: #F4F5F7;
  font-weight: lighter;
  color: black;
  border: none;
  padding: 10px 15px;
  height: 110px;
  width: 100%;
}

.report-second-page .describe-problem .describe-field::-webkit-input-placeholder {
  color: grey;
  font-size: 12px;
}

.report-second-page .describe-problem .describe-field:-ms-input-placeholder {
  color: grey;
  font-size: 12px;
}

.report-second-page .describe-problem .describe-field::-ms-input-placeholder {
  color: grey;
  font-size: 12px;
}

.report-second-page .describe-problem .describe-field::placeholder {
  color: grey;
  font-size: 12px;
}

.report-second-page .describe-problem .describe-field:focus {
  outline: none;
}

.report-second-page .take-or-select-image {
  width: 100%;
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.report-second-page .take-or-select-image .take-image,
.report-second-page .take-or-select-image .select-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  border: 1px solid black;
  height: 50px;
  width: 48%;
}

.report-second-page .take-or-select-image .take-image .material-icons,
.report-second-page .take-or-select-image .select-image .material-icons {
  margin-right: 5px;
}

.report-second-page .personal-info {
  width: 100%;
  height: auto;
  padding: 15px 25px 0;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.report-second-page .personal-info p {
  margin: 10px 0 5px;
}

.report-second-page .personal-info .input-and-check {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.report-second-page .personal-info .input-and-check .material-icons.check-input {
  margin-right: 10%;
  font-size: 35px;
  color: #6FBC4D;
  display: none;
}

.report-second-page .personal-info .input-and-check input {
  font-size: 15px;
  background-color: #F4F5F7;
  font-weight: lighter;
  color: grey;
  border: none;
  padding-left: 15px;
  height: 45px;
  width: 70%;
  padding-right: 15px;
}

.report-second-page .personal-info .input-and-check input::-webkit-input-placeholder {
  color: grey;
  font-size: 12px;
}

.report-second-page .personal-info .input-and-check input:-ms-input-placeholder {
  color: grey;
  font-size: 12px;
}

.report-second-page .personal-info .input-and-check input::-ms-input-placeholder {
  color: grey;
  font-size: 12px;
}

.report-second-page .personal-info .input-and-check input::placeholder {
  color: grey;
  font-size: 12px;
}

.report-second-page .personal-info .input-and-check input:focus {
  outline: none;
}

.show-second {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hide-first {
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
}

.report-first-page {
  height: auto;
  overflow-y: scroll;
}

.report-first-page #map {
  height: 200px;
  width: 100%;
  position: absolute;
  padding: 0;
}

.report-first-page .report-map {
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.report-first-page .report-map .enlarge-map {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: #6FBC4D;
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  right: 0;
  margin-right: 20px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.report-first-page .search-building {
  padding: 10px 25px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.report-first-page .search-building h2 {
  text-transform: uppercase;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 5px;
  font-size: 16px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.report-first-page .search-building .search-field {
  font-size: 15px;
  background-color: #F4F5F7;
  font-weight: lighter;
  color: grey;
  border: none;
  padding-left: 15px;
  height: 45px;
  width: 100%;
  background-image: url(/images/search.svg?3509a1c63820f47682641085f7d8ccf9);
  background-repeat: no-repeat;
  background-position: 98% center;
  padding-right: 15px;
}

.report-first-page .search-building .search-field:focus {
  outline: none;
}

.report-first-page .building-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.report-first-page .building-list .building {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px;
  width: 100%;
  height: auto;
  min-height: 70px;
  border-top: 1px solid #a8a8a8;
}

.report-first-page .building-list .building .name-and-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  margin: 5px 0;
}

.report-first-page .building-list .building .name-and-adress .building-name {
  margin: 0;
  margin-bottom: 8px;
}

.report-first-page .building-list .building .name-and-adress .building-adress-and-code {
  font-size: 12px;
  color: #a8a8a8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.report-first-page .building-list .building .select-building {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.report-first-page .building-list .building .select-building button {
  background-color: #F71264;
  border: 0;
  color: white;
  font-size: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.report-first-page .building-list .building .select-building button:focus {
  outline: none;
}

.aha-feed-item {
  background-image: url("http://unsplash.it/1200x800");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 240px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 2px 5px 0px #999999;
  box-shadow: 0px 2px 5px 0px #999999;
}

.aha-feed-item .feed-item-text-and-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  min-height: 80px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.aha-feed-item .feed-item-text-and-button .text {
  font-size: 18px;
  color: white;
  padding: 10px;
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aha-feed-item .feed-item-text-and-button .text h3 {
  margin: 0;
}

.aha-feed-item .feed-item-text-and-button button {
  color: white;
  font-size: 15px;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 13px;
  background-color: #F71264;
  border: none;
}

.aha-feed-item-smaller {
  height: 160px;
  margin-bottom: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.aha-feed-item-smaller .image {
  background-image: url("http://unsplash.it/1200x800");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  width: 40%;
}

.aha-feed-item-smaller .text-right {
  background-color: #dbf4f7;
  padding: 15px 15px 5px;
  height: 100%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aha-feed-item-smaller .text-right .top-text {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid black;
}

.aha-feed-item-smaller .text-right .top-text p {
  margin: 0;
  font-size: 12px;
}

.aha-feed-item-smaller .text-right .top-text h3 {
  font-family: "times", serif;
  font-size: 22px;
  font-weight: lighter;
  margin: 0;
}

.aha-feed-item-smaller .text-right .bot-text-and-button {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aha-feed-item-smaller .text-right .bot-text-and-button p {
  width: 70%;
  font-size: 9px;
}

.aha-feed-item-smaller .text-right .bot-text-and-button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #F71264;
  border: none;
}

