@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
  font-family: ChronicleRoman;
  src: url('/fonts/ChronicleTextG1-Roman.otf');
}

@font-face {
  font-family: SceneLight;
  src: url('/fonts/scene-light.otf');
}

@font-face {
  font-family: ChronicleDisc;
  src: url('/fonts/ChronicleDispCond-Light.otf');
}

$main-font: 'SceneMedium', sans-serif;
$header-font: 'ChronicleRoman', serif;
$thin-font: 'SceneStd', sans-serif;

// $paragraphFontFamily: ''
$paragraphFontSize: 15px;

* {
  font-family: $main-font;
}

.material-icons {
  font-weight: 100;
}
