@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
  font-family: 'ChronicleRoman';
  src: url('/fonts/ChronicleDispLight.woff2');
}

@font-face {
  font-family: 'SceneLight';
  src: url('/fonts/SceneProLight.woff');
}

@font-face {
  font-family: 'SceneMedium';
  src: url('/fonts/SceneProMedium.woff');
}

$main-font: 'SceneMedium', sans-serif;
$header-font: 'ChronicleRoman', serif;
$thin-font: 'SceneLight', sans-serif;

$paragraphFontSize: 15px;

* {
  font-family: $main-font;
}

.material-icons {
  font-weight: 100;
}
