@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$main-font: 'Open Sans', sans-serif;
$header-font: 'times', serif;


// $paragraphFontFamily: ''
$paragraphFontSize: 15px;


* {
  font-family: $main-font;
}

.material-icons {
  font-weight: 100;
}
